# ignore unwanted files
*.sh
*.org~
*.log
*.eps
*.bbl
*.out
*.spl
*.gz
*.blg
*.aux
#ignore some folders
__pycache__/
TEC_power_spectrum/
TEC_series/
data/

.ipynb_checkpoints/ARTU (chelyabinsk) data-checkpoint.ipynb
2019Q2_DGD.txt
a_sizes.txt
ARTU (chelyabinsk) data.ipynb
journal.org~
journal.org~
journal.org~
README.md~
paper/vTEC-maps.tex~
paper/methodology.tex~
paper/meteor-properties.tex~
paper/MDPI/template.pdf
paper/MDPI/template.aux
paper/introduction.tex~
paper/ELSEVIER/manuscript.aux
paper/ELSEVIER/discussion.tex~
paper/ELSEVIER/manuscript.aux
paper/ELSEVIER/bibliography.bib~
paper/ELSEVIER/manuscript.aux
paper/discussion.tex~
journal.org~
ltximg/org-ltximg_1913a9e9cb60a3e1813d81088e25d3adbecaea69.png
ltximg/org-ltximg_2cb419ccc42f7a0a6de48eb60ca1e53ec569df08.png
ltximg/org-ltximg_4436d5ceda01ac7fe68b27ebb3b939742ed00fc2.png
ltximg/org-ltximg_4c037f66afbc905b88e98737c9756f52005d5f9d.png
ltximg/org-ltximg_6f6001c1d46ba61f0c63cd1dc95e6da5040af2b4.png
ltximg/org-ltximg_67a1ea83ff87e182eb61aff0d660b5c0e80b3e4c.png
ltximg/org-ltximg_70ac7ba1043de25003c557b3b0e45960f2cac4fa.png
ltximg/org-ltximg_7a0abfdb9f69422bb13384e3a1fb694c94218c7a.png
ltximg/org-ltximg_8c6f706b749f28281e0f481b110da9ddd293c568.png
ltximg/org-ltximg_a2574d72daf0c89515830c8533a90c85a1202e9e.png
ltximg/org-ltximg_a4efa668e9f9f6fd9218fe7b2b2edf1e73144ebb.png
ltximg/org-ltximg_b9b6cd1f317369a47354f355fc2fa8b4faada5aa.png
ltximg/org-ltximg_bf037c3a72d4c82a14e6b726af4f4609726e9163.png
ltximg/org-ltximg_d42b957ebb61e28fa9cb91d71bc6156bea281789.png
ltximg/org-ltximg_ec00bd6167f3096e3fb5a0723cc61cd2e2a1b76b.png
ltximg/org-ltximg_bf9eae179970c298155f98d923aefb85e0fe9467.png
ltximg/org-ltximg_f800dbafac3f5cae95db5c48d0871064108e993a.png
ltximg/org-ltximg_f8a92d0572aa4479307e3673d1edafe874f2f90b.png
ltximg/org-ltximg_eedc981dea56189ead2df372a8e2a86963dc9b5a.png
ltximg/org-ltximg_44b7cf2e4ba4219a3c77a655ccce5805d8841281.png
ltximg/org-ltximg_3362d053839b9195526298364014e75c99c4da7e.png
ltximg/org-ltximg_b8ecb0782e929f5ecaeef819bb11b30254374534.png
ltximg/org-ltximg_fec444dc11bdb1483f930b163127d231e753e90c.png
*.tex~
*.bib~
paper/ELSEVIER/manuscript.aux
paper/MDPI/template.aux
paper/MDPI/template.aux
paper/ELSEVIER/manuscript.aux
paper/arXiv/bibliography.bib
paper/ELSEVIER/bibliography.bib
paper/ELSEVIER/manuscript.aux
paper/MDPI/bibliography.bib
*.aux
paper/ELSEVIER/manuscript.aux
.ipynb_checkpoints/butterworth example-checkpoint.ipynb
.ipynb_checkpoints/Cubic_spline_example vs Sav-Gol filter-checkpoint.ipynb
paper/ELSEVIER/manuscript.aux
.ipynb_checkpoints/signal-noise-checkpoint.ipynb
.ipynb_checkpoints/vTEC maps-checkpoint.ipynb
paper/ELSEVIER/manuscript.aux
